@use "sass:color"; 
@use '../variables' as *;
@use '../mixins' as *;
@use '../components/buttons' as *;
@use '../components/forms' as *;

.auth-container {
    max-width: 400px;
    margin: 5rem auto;
    padding: 2rem;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.12);
    text-align: center;

    h1 {
        color: $primary-color;
        margin-bottom: 1rem;
    }

    .error-message {
        background: color.adjust($danger-color, $lightness: 30%); 
        color: color.adjust($primary-color, $lightness: -10%);
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    .success-message {
        background: color.adjust($primary-color, $lightness: 30%);
        color: $dark-text;
        padding: 1rem;
        border-radius: 8px;
        margin-bottom: 1rem;
    }

    input {
        @extend .form-input !optional;
    }

    .error-text {
        color: color.adjust($danger-color, $lightness: -10%);
        font-size: 0.875rem;
        margin-top: 0.3rem;
        text-align: left;
    }

    button {
        @extend .btn-primary !optional;
        width: 18rem;
        display: block;
        margin-top: 2rem;
    }

    p {
        margin-top: 1rem;
        font-size: 0.9rem;
        color: $dark-text;

        a {
            color: $primary-color;
            text-decoration: none;
            font-weight: bold;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
