// _navbar.scss
@use 'variables' as *; // This will make the variables accessible without the 'variables.' prefix

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background: rgba(255, 255, 255, 0.9); // Semi-transparent navbar
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    .navbar-brand {
        font-size: 1.8rem;
        font-weight: bold;
        color: $dark-text;
    }

    .nav-links {
        list-style: none;
        display: flex;
        gap: 2rem;

        li a {
            color: $dark-text;
            font-weight: 500;
            text-decoration: none;
            transition: 0.3s ease-in-out;

            &:hover {
                color: $primary-color;
            }
        }
    }
}
