// main.scss
@use 'variables';
@use 'mixins';

@use 'base/reset';
@use 'base/typography';
@use 'base/utilities';

@use 'components/buttons';
@use 'components/forms';
@use 'components/cards';

@use 'layout/navbar' as *;
@use 'layout/footer';
@use 'layout/grid';

@use 'pages/home';
@use 'pages/login';
@use 'pages/register';
@use 'pages/forgot_password';
@use 'pages/reset_password';
@use 'pages/gallery';
@use 'pages/groups';


// _reset.scss (Optional)
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Smooch Sans', sans-serif;
}
